

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://www.nessan.tk">
                   Chinese Optical Survey Telescope Array
                    可以链接到一个其他网页，也可以不放
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="http://">链接到个人主页？</a>
          </div>
        </div>
    </footer>
