            <thead class=" text-primary">
              <th>
                ID
              </th>
              <th>
                Heartbeat
              </th>
              <th>
                Current Plan
              </th>
              <th>
                Mount Status
              </th>
              <th>
                Camera Status
              </th>
              <th>
                Run Level
              </th>
              <th>
                Free Space
              </th>
              <th>
                RA
              </th>
              <th>
                Dec
              </th>
              <th>
                Target RA
              </th>
              <th>
                Target Dec
              </th>
              <th>
                Filter
              </th>
              <th>
                Camera Temperature
              </th>
              <th>
                Camera Cooler Power
              </th>
            </thead>
            <tbody>
              {% for tel in tels %}
              <tr>
                <td>
                  {{ tel.id }}
                </td>
                <td  class="text-primary">
                  {{ tel.tmdiff }}
                </td>
                <td>
                  {{ tel.plan_name }}
                </td>
                <td  class="text-primary">
                  <a href="#" data-toggle="tooltip" data-placement="right" title="{{ tel.mount_info }}">{{ tel.mount_status }}</a>
                </td>
                <td  class="text-primary">
                  <a href="#" data-toggle="tooltip" data-placement="right" title="{{ tel.cam_info }}">{{ tel.cam_status }}</a>
                </td>
                <td>
                  {{ tel.run_level }}
                </td>
                <td>
                  {{ tel.free_space|floatformat:-2 }}GB
                </td>
                <td>
                  {{ tel.ra|floatformat:-3 }}h
                </td>
                <td>
                  {{ tel.dec|floatformat:-3 }}d
                </td>
                <td>
                  {{ tel.target_ra|floatformat:-3 }}h
                </td>
                <td>
                  {{ tel.target_dec|floatformat:-3 }}d
                </td>
                <td>
                  {{ tel.filter }}
                </td>
                <td>
                  {{ tel.ccd_temp }}
                </td>
                <td>
                  {{ tel.cooling_power }}%
                </td>
              </tr>
              {% endfor %}
            </tbody>