{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="static/assets/css/jquery-ui-1.8.17.custom.css" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html"/>
<link type="text/css" href="static/assets/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">System Logs</h4>
        <p class="card-category">Observation system logs</p>
        <br/>
          <form method="POST" action="">
            {%csrf_token%}
            &ensp;Start Time <input id = "start_time" type="text" name="start_time" class="ui_timepicker" value={{start_time}}>
            &ensp;End Time <input id = "end_time" type="text" name="end_time" class="ui_timepicker" value={{end_time}}>
            &ensp;ID
                <select id="tel_id" name="tel_id" style="width: 100px">
                          <option value = 'ALL' selected> ALL </option>
                          <option value = '7101'> 7101 </option>
                          <option value = '7902'> 7902 </option>
                          <option value = '7921'> 7921 </option>
                </select>
              <input type="hidden" name="tel_id_value" value={{tel_id}} />
              <button type="submit">Search</button>
          </form>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        {% if logs %}
          <table class="table" id="logs">
            <thead class=" text-primary">
              <th>Source</th>
              <th>Time</th>
              <th>Level</th>
              <th>Position</th>
              <th>Message</th>
            </thead>
            <tbody>
              {% for log in logs %}
              <tr>
                <td>{{ log.source }}</td>
                <td>{{ log.timestamp|date:"Y-m-d H:i:s" }}</td>
                <td>{{ log.level }}</td>
                <td>{{ log.position }}</td>
                <td>{{ log.message }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}
          <p>No logs !!!</p>
        {% endif %}
              <div class="pagination">
              <span class="step-links">
                  {% if logs.has_previous %}
                      <a href="?page=1&start_time={{start_time}}&end_time={{end_time}}&tel_id={{tel_id}}">&laquo; first</a>
                      <a href="?page={{ logs.previous_page_number }}&start_time={{start_time}}&end_time={{end_time}}&tel_id={{tel_id}}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ logs.number }} of {{ logs.paginator.num_pages }}.
                  </span>

                  {% if logs.has_next %}
                      <a href="?page={{ logs.next_page_number }}&start_time={{start_time}}&end_time={{end_time}}&tel_id={{tel_id}}">next</a>
                      <a href="?page={{ logs.paginator.num_pages }}&start_time={{start_time}}&end_time={{end_time}}&tel_id={{tel_id}}">last &raquo;</a>
                  {% endif %}

              </span>
              </div>
          </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="static/assets/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="static/assets/js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="static/assets/js/jquery-ui-timepicker-addon.js"></script>
<!--<script type="text/javascript" src="static/assets/js/jquery-ui-timepicker-zh-CN.js"></script>-->
<script type="text/javascript">
$(function () {
    $(".ui_timepicker").datetimepicker({
        //showOn: "button",
        //buttonImage: "./static/assets/css/images/icon_calendar.gif",
        //buttonImageOnly: true,
        //showSecond: true,
        //timeFormat: 'hh:mm:ss',
        //stepHour: 1,
        //stepMinute: 1,
        //stepSecond: 1
    })
})
</script>

<!--
<script type="text/javascript">
        $(function(){
         $('#submit').on('click', function(){
             var tel_id = $("#tel_id").val()
             var start_time = $("#start_time").val()
             var end_time = $("#end_time").val()

             $.ajax({
                 cache: false,
                 type: "POST",
                 url:"/app/views.py",
                 data:{'tel_id': tel_id,'start_time':start_time,'end_time':end_time},
                 dataType:"json",
                 async: true,
                 beforeSend:function(xhr, settings){
                 xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
             },
             });
         });
     })
</script>
-->
<script language="javascript">document.forms[0].tel_id.value = document.forms[0].tel_id_value.value;</script>

{% endblock javascripts %}
