{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Telescopes</h4>
        <p class="card-category"> Telescope status list</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                ID
              </th>
              <th>
                Heartbeat
              </th>
              <th>
                Current Plan
              </th>
              <th>
                Mount Status
              </th>
              <th>
                Camera Status
              </th>
              <th>
                Run Level
              </th>
              <th>
                Free Space
              </th>
              <th>
                RA
              </th>
              <th>
                Dec
              </th>
              <th>
                Target RA
              </th>
              <th>
                Target Dec
              </th>
              <th>
                Filter
              </th>
              <th>
                Camera Temperature
              </th>
              <th>
                Camera Cooler Power
              </th>
            </thead>
            <tbody>
              {% for tel in tels %}
              <tr>
                <td>
                  {{ tel.id }}
                </td>
                <td  class="text-primary">
                  {{ tel.heartbeat }}
                </td>
                <td>
                  {{ tel.plan_name }}
                </td>
                <td  class="text-primary">
                  {{ tel.mount_status }}
                </td>
                <td  class="text-primary">
                  {{ tel.cam_status }}
                </td>
                <td>
                  {{ tel.run_level }}
                </td>
                <td>
                  {{ tel.free_space }}
                </td>
                <td>
                  {{ tel.ra }}
                </td>
                <td>
                  {{ tel.dec }}
                </td>
                <td>
                  {{ tel.target_ra }}
                </td>
                <td>
                  {{ tel.target_dec }}
                </td>
                <td>
                  {{ tel.filter }}
                </td>
                <td>
                  {{ tel.ccd_temp }}
                </td>
                <td>
                  {{ tel.cooling_power }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}