{% extends "layouts/base.html" %}

{% block title %} Telescope Status View {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">

  <div class="col-md-9">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Telescopes</h4>
        <p class="card-category"> Telescope status list</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
            <table class="table" id='statusTable'>
              <thead class="text-primary">
                <th>
                  ID
                </th>
                <th align="center">
                  RunLevel
                </th>
                <th>
                  Heartbeat
                </th>
                <th>
                  Current Plan
                </th>
                <th>
                  Mount Status
                </th>
                <th>
                  Camera Status
                </th>
                <th>
                  Free Space
                </th>
                <th>
                  RA
                </th>
                <th>
                  Dec
                </th>
                <th>
                  Target RA
                </th>
                <th>
                  Target Dec
                </th>
                <th>
                  Filter
                </th>
                <th>
                  Camera Temperature
                </th>
                <th>
                  Camera Cooler Power
                </th>
              </thead>
              <tbody>
                {% for tel in tels %}
                <tr>
                  <td align="center">
                    {{tel.id}}
                  </td>
                  <td align="center">
                    {{tel.run_level}}
                  </td>
                  <td  class="text-primary" align="center">
                    {{ tel.tmdiff }}
                  </td>
                  <td align="center">
                    {{ tel.plan_name }}
                  </td>
                  <td  class="text-primary" align="center">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="{{ tel.mount_info }}">{{ tel.mount_status }}</a>
                  </td>
                  <td  class="text-primary" align="center">
                    <a href="#" data-toggle="tooltip" data-placement="right" title="{{ tel.cam_info }}">{{ tel.cam_status }}</a>
                  </td>
                  <td align="center">
                    {{ tel.free_space|floatformat:-2 }}GB
                  </td>
                  <td align="center">
                    {{ tel.ra|floatformat:-3 }}h
                  </td>
                  <td align="center">
                    {{ tel.dec|floatformat:-3 }}d
                  </td>
                  <td align="center">
                    {{ tel.target_ra|floatformat:-3 }}h
                  </td>
                  <td align="center">
                    {{ tel.target_dec|floatformat:-3 }}d
                  </td>
                  <td align="center">
                    {{ tel.filter }}
                  </td>
                  <td align="center">
                    {{ tel.ccd_temp }}
                  </td>
                  <td align="center">
                    {{ tel.cooling_power }}%
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Telescopes</h4>
        <p class="card-category"> Telescope choose runlevel list</p>
        <p></p>
        <p></p>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <form method="POST" action="">
            {%csrf_token%}
            <table class="table" id='checkTable' frame="void">
              <thead class="text-primary">
                <th>
                  <p></p>
                  <p></p>
                  <input type="checkbox" id="checkAll" name="checkAll" onclick="checkAll()">
                  <p></p>
                </th>
                <th>
                  <p></p>
                  <p></p>
                  ID
                  <p></p>
                </th>
              </thead>
              <tbody>
                {% for tel in tels %}
                <tr>
                  <td>
                    <input type="checkbox" name="checkOne" value="{{tel.id}}">
                  </td>
                  <td>
                    {{tel.id}}
                  </td>
                </tr>
              {% endfor %}
            </table>
                    CHOOSE RUNLEVEL
                    <select id="runlevel" name="runlevel" style="width: 10%" >
                                    <option value ="1"> 1 </option>
                                    <option value ="2"> 2 </option>
                                    <option value ="3"> 3 </option>
                                    <option value ="4"> 4 </option>
                    </select>
                    <button type="submit" onclick="check_info()">Submit</button>
          </form>
    </div>
  </div>
  </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: '{% url 'telescopes' %}',
                type: "get",
                cache: true,
                dataType: 'html',
                success: function (data) {
                    $("#statusTable").html("");
                    console.log("success");
                    const rdata=JSON.parse(data);
                    $('#statusTable').html(rdata.rendered_table);
                },
                error: function (data) {
                    alert("Got an error dude " + data);
                }
            });
        },2000);
    });
</script>

<!--<script>
        $(function() {
           $("#checkAll").click(function() {
                $('input[name="checkOne"]').attr("checked",this.checked);
            });
            //var $checkOne = $("input[name='checkOne']");
            //$checkOne.click(function(){
              //  $("#checkAll").attr("checked",$checkOne.length == $("input[name='checkOne']:checked").length ? true : false);
           //});
        });
</script>-->

<script>
  $('input[name="checkAll"]').on("click",function(){
        if($(this).is(':checked')){
            $('input[name="checkOne"]').each(function(){
                $(this).prop("checked",true);
            });
        }else{
            $('input[name="checkOne"]').each(function(){
                $(this).prop("checked",false);
            });
        }
    });
</script>

{% endblock javascripts %}