{% extends "layouts/base.html" %}

{% block title %} Telescope Status View {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Telescopes</h4>
        <p class="card-category"> Telescope status list</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id='statusTable'>
            <thead class=" text-primary">
              <th>
                ID
              </th>
              <th>
                Heartbeat
              </th>
              <th>
                Current Plan
              </th>
              <th>
                Mount Status
              </th>
              <th>
                Camera Status
              </th>
              <th>
                Run Level
              </th>
              <th>
                Free Space
              </th>
              <th>
                RA
              </th>
              <th>
                Dec
              </th>
              <th>
                Target RA
              </th>
              <th>
                Target Dec
              </th>
              <th>
                Filter
              </th>
              <th>
                Camera Temperature
              </th>
              <th>
                Camera Cooler Power
              </th>
            </thead>
            <tbody>
              {% for tel in tels %}
              <tr>
                <td>
                  {{ tel.id }}
                </td>
                <td  class="text-primary">
                  {{ tel.tmdiff }}
                </td>
                <td>
                  {{ tel.plan_name }}
                </td>
                <td  class="text-primary">
                  <a href="#" data-toggle="tooltip" data-placement="right" title="{{ tel.mount_info }}">{{ tel.mount_status }}</a>
                </td>
                <td  class="text-primary">
                  <a href="#" data-toggle="tooltip" data-placement="right" title="{{ tel.cam_info }}">{{ tel.cam_status }}</a>
                </td>
                <td>
                  {{ tel.run_level }}
                </td>
                <td>
                  {{ tel.free_space|floatformat:-2 }}GB
                </td>
                <td>
                  {{ tel.ra|floatformat:-3 }}h
                </td>
                <td>
                  {{ tel.dec|floatformat:-3 }}d
                </td>
                <td>
                  {{ tel.target_ra|floatformat:-3 }}h
                </td>
                <td>
                  {{ tel.target_dec|floatformat:-3 }}d
                </td>
                <td>
                  {{ tel.filter }}
                </td>
                <td>
                  {{ tel.ccd_temp }}
                </td>
                <td>
                  {{ tel.cooling_power }}%
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: '{% url 'telescopes' %}',
                type: "get",
                cache: true,
                dataType: 'html',
                success: function (data) {
                    $("#statusTable").html("");
                    console.log("success");
                    const rdata=JSON.parse(data);
                    $('#statusTable').html(rdata.rendered_table);
                },
                error: function (data) {
                    alert("Got an error dude " + data);
                }
            });
        }, 5000);
    });
</script>
{% endblock javascripts %}